<h1 class = "text-center">List All My Bookings</h1>
<% @bookings.each_with_index do |booking, index| %>
  <p><%= index+1 %>. <%= booking.created_at %></p>
  <p>Book: <%= booking.book.title %></p>
  <p>Lender: <%= booking.book.user.name %></p>
  <p>Period: <%= booking.starting_date %> to <%= booking.ending_date %></p>
  <br>
<% end %>
