<h1 class="text-center">Booking Details</h1>
<div class="text-center">
  <%= link_to "Back to Books", books_path, class: "btn btn-info"  %>
</div>
<div class="justify-content-center d-flex m-3">
  <div class="card shadow p-3 mb-5 bg-body rounded show-book", style="width: 20rem;">
    <h5>Book: <%= @booking.book.title %></h5>
    <p>Booking Period: <br> <%= @booking.starting_date %> to <%= @booking.ending_date %></p>
    <br>
    <p>Owner Name: <%= @booking.book.user.name %></p>
    <p>Owner WeChat: <%= @booking.book.user.we_chat %></p>
    <p>Owner Email: <%= @booking.book.user.email %></p>
    <p>Owner Address: <%= @booking.book.user.address %></p>
  </div>
</div>
