<div class="header">
    <h2 class = text-center> <%= @user.name %>'s Profile Details.</h2>
</div>
<div class="container col-4 text-center my-3">
  <div class="card shadow bg-body rounded">
    <div class="image text-center py-3">
      <% if @user.avatar.attached? %>
        <%= cl_image_tag @user.avatar.key, alt: "user-picture", style:'width:150px;' %>
      <% else %>
        <%= image_tag "user-show-page", alt: "user-picture" %>
      <% end %>
    </div>
    <div class= "text-center txtComputer">
      <p>
        <strong>Name:</strong>
        <%= @user.name %>
      </p>
      <p>
        <strong>Meeting Place:</strong>
        <%= @user.address %>
      </p>
      <p>
        <strong>WeChat:</strong>
        <%= @user.we_chat %>
      </p>
    </div>
  </div>
</div>
<div class= "text-center ">
<%= link_to 'Back to All Books', books_path, class: 'btn btn-outline-dark my-3' %>
</div>

