<div class="banner d-flex justify-content-center align-items-center">
  <div class="inner text-center">
   <h1> Read n' Relax: BnB of Books! </h1>
     <div>
        <h2><%= link_to 'Browse All Books', books_path, class: 'btn btn-info' %></h2>
     </div>
     <div class="call container">
       <h2 class="background-color"> It is easy and free, go ahead and signup <br> to connect with other booklovers!</h2>
       <h2><%= link_to 'Sign_Up', new_user_registration_path, class: 'btn btn-secondary' %></h2>
     </div>
  </div>
</div>

<div class="container card text-left">
  <p> This app for those that love to read and share their books with others!<br>
  If this is something for you, then go ahead and signup. <br> For all ages and genders - dont be shy and browse our books! </p>
  <p> Who knows you might discover a new favourite! </p>
  <br>
  <p> Making reading fun again! </p>
</div>


<!--

<h2><%= link_to 'Sign_In', new_user_session_path %></h2>
<h2><%= link_to 'All Users', users_path %></h2>

<h2><%= link_to 'My Bookings', mybookings_bookings_path %></h2> -->

<!--
 -->
