<div class="banner d-flex justify-content-center align-items-center">
  <div class="inner text-center">
   <h1> Read n' Relax: BnB of Books! 📖 </h1>
     <div>
        <h2><%= link_to 'Browse All Books', books_path, class: 'btn btn-light' %></h2>
     </div>
  </div>
</div>

<div class="container card text-center">

  <div>

</div>
</div>


<!--

<h2><%= link_to 'Sign_In', new_user_session_path %></h2>
<h2><%= link_to 'All Users', users_path %></h2>

<h2><%= link_to 'My Bookings', mybookings_bookings_path %></h2> -->

<!-- <h2><%= link_to 'Sign_Up', new_user_registration_path, class: 'btn btn-secondary' %></h2>
 -->
