
<h1 class="text-center">All Books.</h1>
<div class="text-center">
  <%= link_to 'Add a Book', new_book_path, class:"btn btn-outline-dark button-margin" %>
</div>
<div class="d-flex justify-content-center flex-wrap p-2">
  <% @books.each do |book| %>
    <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 16rem;">

      <% if book.photo.attached? %>
        <%= cl_image_tag book.photo.key, height: 150, width: 150, crop: :fill, alt: "image of a book", class:"card-img-top" %>
      <% else %>
        <%= image_tag "book-rise.png", alt: "book-pic", class:"card-img-top" %>
      <% end %>

      <div class="card-body show-book">
        <h5 class="card-title"><%= book.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Author: <%= book.author %></h6>
        <br>
        <p class="card-text">Availability: <%= "#{book.availability? ? '✅' : '❌'}" %></p>
        <br>
      </div>
      <%= link_to 'Go Further', book_path(book), class:'btn btn-outline-secondary' %>
    </div>
  <% end %>
</div>




