
<h1>LIST ALL BOOKS</h1>
<%= link_to 'Add a Book!', new_book_path, class:"btn btn-outline-dark button-margin" %>
<div class="d-flex flex-wrap p-2">
  <% @books.each do |book| %>
  <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 16rem;">
    <!-- need to add an image upload for the books -->
    <%= image_tag "open-book", alt: "book-pic", class:"card-img-top" %>
    <div class="card-body">
      <h5 class="card-title"><%= link_to book.title, book_path(book) %></h5>
      <h6 class="card-subtitle mb-2 text-muted">Author: <%= book.author %></h6>
      <p class="card-text">Description: <%= book.description %> </p>
      <p class="card-text">Availability: <%= book.availability %></p>
      <br>
    </div>
  </div>
  <% end %>
</div>

